<!doctype html>
<html>

    <form method="post" action="/answer">
    <h3>Let's pick you a t-shirt...</h3>
    <p>Dressing for work or play?</p>
    <input type="radio" name="purpose" id="work" value="work"> Work
    <input type="radio" name="purpose" id="play" value="play"> Play
    <p>Looking to turn some heads?</p>
    <input type="radio" name="purpose1" id="yes" value="yes"> Yes
    <input type="radio" name="purpose1" id="no" value="no"> No
    <p>Fancy a bit of cleavage?</p>
    <input type="radio" name="purpose2" id="yup" value="yup"> Go on
    <input type="radio" name="purpose2" id="nah" value="nah"> Nah 
    <p><input type="submit" value="Submit"></p>
    </form>


    </html>